.sideBar{
    flex: 3;
    height: calc(100vh - 50px);
    background-color: #F0F2F5;
    float: left;
    overflow-y: hidden;
}
.sideBar:hover{
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #F0F2F5;
}
::-webkit-scrollbar-thumb{
    background-color: #BCC0C4;
    border-radius: 10px ;
}

.sidebarWrapper{
    padding: 20px;
    background-color: #FFFFFF;
}
.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sidebarIcon{
    margin-right: 8px;
}
.sidebarButton{
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}
.sidebarHr{
    margin: 20px 0 ;

}
.sidebarFriendlist{
    padding: 0;
    margin: 0;
    list-style: none;

}
.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.sidebarFrienName{
    margin-left: 15px;
}